<!--<h1>Hello world!</h1>-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>내가 알려줄지도 검색결과</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900|Orbitron:900' rel='stylesheet' type='text/css'>
    {% load static %}
    <link rel="stylesheet" href="{% static 'web/css/path.css'%}">

</head>
<body>
  {% load static %}
  <div class="bubble-speech bubble-bottom">
      <h2 class="title">
          {{title}}
      </h2>
      <div class="message">
          {{message}}
      </div>
      <div id="map" class="map_in_bubble"></div>
          <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=vRr0Nw3CyUQOJRRD8lw1"></script>
          <script>
         	var mapOptions = {
         		center: new naver.maps.LatLng(37.3595704, 127.105399),
         		zoom: 10
         	};

         	var map = new naver.maps.Map('map', mapOptions);

            var pNum = {{pathNum}};

         	var sx = {{geoSX}};
         	var sy = {{geoSY}};
         	var ex = {{geoEX}};
         	var ey = {{geoEY}};

         	function searchPubTransPathAJAX() {
         		var xhr = new XMLHttpRequest();
         		//ODsay apiKey 입력
         		var url = "https://api.odsay.com/v1/api/searchPubTransPath?SX="+sx+"&SY="+sy+"&EX="+ex+"&EY="+ey+"&apiKey=HDE%2BxIt1kcSfQRUwqSkXdA";
         		xhr.open("GET", url, true);
         		xhr.send();
         		xhr.onreadystatechange = function() {
         			if (xhr.readyState == 4 && xhr.status == 200) {
         			console.log( JSON.parse(xhr.responseText) ); // <- xhr.responseText 로 결과를 가져올 수 있음
         			//노선그래픽 데이터 호출
         			callMapObjApiAJAX((JSON.parse(xhr.responseText))["result"]["path"][pNum].info.mapObj);
         			}
         		}
         	}



         	function callMapObjApiAJAX(mabObj){
         		var xhr = new XMLHttpRequest();
         		//ODsay apiKey 입력
         		var url = "https://api.odsay.com/v1/api/loadLane?mapObject=0:0@"+mabObj+"&apiKey=HDE%2BxIt1kcSfQRUwqSkXdA";
         		xhr.open("GET", url, true);
         		xhr.send();
         		xhr.onreadystatechange = function() {
         			if (xhr.readyState == 4 && xhr.status == 200) {
         				var resultJsonData = JSON.parse(xhr.responseText);
         				drawNaverMarker(sx,sy);					// 출발지 마커 표시
         				drawNaverMarker(ex,ey);					// 도착지 마커 표시
         				drawNaverPolyLine(resultJsonData);		// 노선그래픽데이터 지도위 표시
         				// boundary 데이터가 있을경우, 해당 boundary로 지도이동
         				if(resultJsonData.result.boundary){
         						var boundary = new naver.maps.LatLngBounds(
         				                new naver.maps.LatLng(resultJsonData.result.boundary.top, resultJsonData.result.boundary.left),
         				                new naver.maps.LatLng(resultJsonData.result.boundary.bottom, resultJsonData.result.boundary.right)
         				                );
         						map.panToBounds(boundary);
         				}
         			}
         		}
         	}

         	// 지도위 마커 표시해주는 함수
         	function drawNaverMarker(x,y){
         		var marker = new naver.maps.Marker({
         		    position: new naver.maps.LatLng(y, x),
         		    map: map
         		});
         	}

         	// 노선그래픽 데이터를 이용하여 지도위 폴리라인 그려주는 함수
         	function drawNaverPolyLine(data){
         		var lineArray;

         		for(var i = 0 ; i < data.result.lane.length; i++){
         			for(var j=0 ; j <data.result.lane[i].section.length; j++){
         				lineArray = null;
         				lineArray = new Array();
         				for(var k=0 ; k < data.result.lane[i].section[j].graphPos.length; k++){
         					lineArray.push(new naver.maps.LatLng(data.result.lane[i].section[j].graphPos[k].y, data.result.lane[i].section[j].graphPos[k].x));
         				}


                        if(data.result.lane[i].class == 1){//버스
                            if(data.result.lane[i].type == 11){//간선
                                var polyline = new naver.maps.Polyline({map: map, path: lineArray, strokeWeight: 3, strokeColor: '#0068b7'});
                            }else if(data.result.lane[i].type == 12){//지선
                                var polyline = new naver.maps.Polyline({map: map, path: lineArray, strokeWeight: 3, strokeColor: '#53b332'});
                            }else if(data.result.lane[i].type == 3){//마을버스
                                var polyline = new naver.maps.Polyline({map: map, path: lineArray, strokeWeight: 3, strokeColor: '#53b332'});
                            }else if(data.result.lane[i].type == 13){//순환
                                var polyline = new naver.maps.Polyline({map: map, path: lineArray, strokeWeight: 3, strokeColor: '#f2b70a'});
                            }else if(data.result.lane[i].type == 14){//광역
                                var polyline = new naver.maps.Polyline({map: map, path: lineArray, strokeWeight: 3, strokeColor: '#e60012'});
                            }else if(data.result.lane[i].type == 5){//공항버스
                                var polyline = new naver.maps.Polyline({map: map, path: lineArray, strokeWeight: 3, strokeColor: '#3d5bab'});
                            }else if(data.result.lane[i].type == 2){//좌석
                                var polyline = new naver.maps.Polyline({map: map, path: lineArray, strokeWeight: 3, strokeColor: '#0068b7'});
                            }else if(data.result.lane[i].type == 1){//일반
             					var polyline = new naver.maps.Polyline({map: map, path: lineArray, strokeWeight: 3, strokeColor: '#009e96'});
                            }else if(data.result.lane[i].type == 4){//직행좌석
                                var polyline = new naver.maps.Polyline({map: map, path: lineArray, strokeWeight: 3, strokeColor: '#e60012'});
                            }else if(data.result.lane[i].type == 6){//간선급행
                                var polyline = new naver.maps.Polyline({map: map, path: lineArray, strokeWeight: 3, strokeColor: '#e60012'});
                            }else if(data.result.lane[i].type == 10){//외곽
                                var polyline = new naver.maps.Polyline({map: map, path: lineArray, strokeWeight: 3, strokeColor: '#009D3E'});
                            }else{
                                var polyline = new naver.maps.Polyline({map: map, path: lineArray, strokeWeight: 3, strokeColor: '#2F4F4F'});
                            }

                        }else if(data.result.lane[i].class == 2){//지하철
                            if(data.result.lane[i].type == 1){//1호선
             					var polyline = new naver.maps.Polyline({map: map, path: lineArray, strokeWeight: 3, strokeColor: '#0052A4'});
             				}else if(data.result.lane[i].type == 2){//2호선
             					var polyline = new naver.maps.Polyline({map: map, path: lineArray, strokeWeight: 3, strokeColor: '#009D3E'});
             				}else if(data.result.lane[i].type == 3){//3호선
             					var polyline = new naver.maps.Polyline({map: map, path: lineArray, strokeWeight: 3, strokeColor: '#EF7C1C'});
             				}else if(data.result.lane[i].type == 4){//4호선
             					var polyline = new naver.maps.Polyline({map: map, path: lineArray, strokeWeight: 3, strokeColor: '#00A5DE'});
             				}else if(data.result.lane[i].type == 5){//5호선
             					var polyline = new naver.maps.Polyline({map: map, path: lineArray, strokeWeight: 3, strokeColor: '#996CAC'});
             				}else if(data.result.lane[i].type == 6){//6호선
             					var polyline = new naver.maps.Polyline({map: map, path: lineArray, strokeWeight: 3, strokeColor: '#CD7C2F'});
             				}else if(data.result.lane[i].type == 7){//7호선
             					var polyline = new naver.maps.Polyline({map: map, path: lineArray, strokeWeight: 3, strokeColor: '#747F00'});
             				}else if(data.result.lane[i].type == 8){//8호선
             					var polyline = new naver.maps.Polyline({map: map, path: lineArray, strokeWeight: 3, strokeColor: '#EA545D'});
             				}else if(data.result.lane[i].type == 9){//9호선
             					var polyline = new naver.maps.Polyline({map: map, path: lineArray, strokeWeight: 3, strokeColor: '#A17E46'});
             				}else if(data.result.lane[i].type == 100){//분당선
             					var polyline = new naver.maps.Polyline({map: map, path: lineArray, strokeWeight: 3, strokeColor: '#F5A200'});
             				}else if(data.result.lane[i].type == 101){//공항철도
             					var polyline = new naver.maps.Polyline({map: map, path: lineArray, strokeWeight: 3, strokeColor: '#0090D2'});
             				}else if(data.result.lane[i].type == 104){//경의중앙선
             					var polyline = new naver.maps.Polyline({map: map, path: lineArray, strokeWeight: 3, strokeColor: '#77C4A3'});
             				}else if(data.result.lane[i].type == 107){//에버라인
             					var polyline = new naver.maps.Polyline({map: map, path: lineArray, strokeWeight: 3, strokeColor: '#6FB245'});
                            }else if(data.result.lane[i].type == 108){//경춘선
             					var polyline = new naver.maps.Polyline({map: map, path: lineArray, strokeWeight: 3, strokeColor: '#0C8E72'});
                            }else if(data.result.lane[i].type == 102){//자기부상철도
             					var polyline = new naver.maps.Polyline({map: map, path: lineArray, strokeWeight: 3, strokeColor: '#FFCD12'});
                            }else if(data.result.lane[i].type == 109){//신분당선
             					var polyline = new naver.maps.Polyline({map: map, path: lineArray, strokeWeight: 3, strokeColor: '#D4003B'});
             				}else if(data.result.lane[i].type == 110){//의정부경전철
             					var polyline = new naver.maps.Polyline({map: map, path: lineArray, strokeWeight: 3, strokeColor: '#FDA600'});
             				}else if(data.result.lane[i].type == 111){//수인선
             					var polyline = new naver.maps.Polyline({map: map, path: lineArray, strokeWeight: 3, strokeColor: '#F5A200'});
                            }else if(data.result.lane[i].type == 112){//경강선
             					var polyline = new naver.maps.Polyline({map: map, path: lineArray, strokeWeight: 3, strokeColor: '#003DA5'});
                            }else if(data.result.lane[i].type == 113){//우이신설선
             					var polyline = new naver.maps.Polyline({map: map, path: lineArray, strokeWeight: 3, strokeColor: '#B0CE18'});
                            }else if(data.result.lane[i].type == 114){//서해선
             					var polyline = new naver.maps.Polyline({map: map, path: lineArray, strokeWeight: 3, strokeColor: '#8EC31F'});
                            }else if(data.result.lane[i].type == 21){//인천1호선
             					var polyline = new naver.maps.Polyline({map: map, path: lineArray, strokeWeight: 3, strokeColor: '#7CA8D5'});
                            }else if(data.result.lane[i].type == 22){//인천2호선
             					var polyline = new naver.maps.Polyline({map: map, path: lineArray, strokeWeight: 3, strokeColor: '#ED8B00'});
                            }else{
             					var polyline = new naver.maps.Polyline({map: map, path: lineArray, strokeWeight: 3, strokeColor: '#2F4F4F'});
             				}

                        }

         			}
         		}
         	}

            //길찾기 API 호출
         	searchPubTransPathAJAX();
          </script>
    <br>      
    </div>
    <div class = "footer">
        <img id = "magic" src="{% static 'web/image/magic.png'%}" style="width:25%; height:25% float:left;">
    </div>

</body>
</html>
