<!--<h1>Hello world!</h1>-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>내가 알려줄지도 검색결과</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900|Orbitron:900' rel='stylesheet' type='text/css'>
    {% load static %}
    <link rel="stylesheet" href="{% static 'web/css/chat.css'%}">
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=vRr0Nw3CyUQOJRRD8lw1"></script>
</head>
<body>
  {% load static %}
  <div class="bubble-speech bubble-bottom">
      <h2 class="title">
          {{title}}
      </h2>
      <div class="message">
          {{message}}
      </div>
      <div id="map" style="width:100%;height:300px;"></div>
      <script>
     	var mapOptions = {
     		center: new naver.maps.LatLng(37.3595704, 127.105399),
     		zoom: 10
     	};

     	var map = new naver.maps.Map('map', mapOptions);
     	
     	var sx = 126.93737555322481;
     	var sy = 37.55525165729346;
     	var ex = 126.88265238619182;
     	var ey = 37.481440035175375;

     	function searchPubTransPathAJAX() {
     		var xhr = new XMLHttpRequest();
     		//ODsay apiKey 입력
     		var url = "https://api.odsay.com/v1/api/searchPubTransPath?SX="+sx+"&SY="+sy+"&EX="+ex+"&EY="+ey+"&apiKey={YOUR_API_KEY}";
     		xhr.open("GET", url, true);
     		xhr.send();
     		xhr.onreadystatechange = function() {
     			if (xhr.readyState == 4 && xhr.status == 200) {
     			console.log( JSON.parse(xhr.responseText) ); // <- xhr.responseText 로 결과를 가져올 수 있음
     			//노선그래픽 데이터 호출
     			callMapObjApiAJAX((JSON.parse(xhr.responseText))["result"]["path"][0].info.mapObj);
     			}
     		}
     	}

     	//길찾기 API 호출
     	searchPubTransPathAJAX();

     	function callMapObjApiAJAX(mabObj){
     		var xhr = new XMLHttpRequest();
     		//ODsay apiKey 입력
     		var url = "https://api.odsay.com/v1/api/loadLane?mapObject=0:0@"+mabObj+"&apiKey={YOUR_API_KEY}";
     		xhr.open("GET", url, true);
     		xhr.send();
     		xhr.onreadystatechange = function() {
     			if (xhr.readyState == 4 && xhr.status == 200) {
     				var resultJsonData = JSON.parse(xhr.responseText);
     				drawNaverMarker(sx,sy);					// 출발지 마커 표시
     				drawNaverMarker(ex,ey);					// 도착지 마커 표시
     				drawNaverPolyLine(resultJsonData);		// 노선그래픽데이터 지도위 표시
     				// boundary 데이터가 있을경우, 해당 boundary로 지도이동
     				if(resultJsonData.result.boundary){
     						var boundary = new naver.maps.LatLngBounds(
     				                new naver.maps.LatLng(resultJsonData.result.boundary.top, resultJsonData.result.boundary.left),
     				                new naver.maps.LatLng(resultJsonData.result.boundary.bottom, resultJsonData.result.boundary.right)
     				                );
     						map.panToBounds(boundary);
     				}
     			}
     		}
     	}

     	// 지도위 마커 표시해주는 함수
     	function drawNaverMarker(x,y){
     		var marker = new naver.maps.Marker({
     		    position: new naver.maps.LatLng(y, x),
     		    map: map
     		});
     	}

     	// 노선그래픽 데이터를 이용하여 지도위 폴리라인 그려주는 함수
     	function drawNaverPolyLine(data){
     		var lineArray;

     		for(var i = 0 ; i < data.result.lane.length; i++){
     			for(var j=0 ; j <data.result.lane[i].section.length; j++){
     				lineArray = null;
     				lineArray = new Array();
     				for(var k=0 ; k < data.result.lane[i].section[j].graphPos.length; k++){
     					lineArray.push(new naver.maps.LatLng(data.result.lane[i].section[j].graphPos[k].y, data.result.lane[i].section[j].graphPos[k].x));
     				}

     			//지하철결과의 경우 노선에 따른 라인색상 지정하는 부분 (1,2호선의 경우만 예로 들음)
     				if(data.result.lane[i].type == 1){
     					var polyline = new naver.maps.Polyline({
     					    map: map,
     					    path: lineArray,
     					    strokeWeight: 3,
     					    strokeColor: '#003499'
     					});
     				}else if(data.result.lane[i].type == 2){
     					var polyline = new naver.maps.Polyline({
     					    map: map,
     					    path: lineArray,
     					    strokeWeight: 3,
     					    strokeColor: '#37b42d'
     					});
     				}else{
     					var polyline = new naver.maps.Polyline({
     					    map: map,
     					    path: lineArray,
     					    strokeWeight: 3
     					});
     				}
     			}
     		}
     	}
      </script>
  </div>
<div class = "footer">
  <img id = "magic" src="{% static 'web/image/magic.png'%}" style="width:25%; height:25% float:left;">
<div>
    <!--<h1>{{message}}</h1>-->
</body>
</html>
