@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/jejuhallasan.css);
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
html,
body {
 background-color: #D0CCDF;
 width:100%;
 height:100%;
 overflow-x:hidden;
 overflow-y:auto;
 word-wrap: break-word;
 /* line-height: 1.3em; */
}

.bubble-speech {
 position: relative;
 font-family: 'Source Sans Pro', sans-serif;
 margin: auto;
 line-height: 2.5em;
 /* line-height: 22px; */
 letter-spacing: 1px;
 margin-top: 20px;
 margin-bottom: 48px;
 width: 90%;
 /* height: 80%; */
 margin-left: 5%;
 margin-right: 5%;
 background-color: #EFEFEF;
 float:right;
 word-wrap: break-word;
}

.bubble-speech.bubble-bottom:after {
 z-index: 2;
 content: "";
 position: absolute;
 width:0;
 height:0;
 left: 40px;
 bottom: -80px;
 border:30px transparent solid;
 border-top:50px #efefef solid;
}
.bubble-speech .title {
 max-width: 700px;
 font-family: 'Jeju Gothic', serif;
 font-size:250%;
 margin-left: 20px;
 margin-top: 15px;
 /* padding: 30px 12px 2px 30px; */
 word-wrap: break-word;
}

.bubble-speech .message {
 font-size:35px;
 margin-top: 50px;
 margin-left: 20px;
 font-family: 'Noto Sans KR', sans-serif;
 word-wrap: break-word;
}

.footer{
  /* bottom: 2%; */
  width: 100%;
  position: static;
}
#magic{
 margin:20px;
}

.map_in_bubble{
    margin-left:20px;
    margin-right:20px;
    height:500px;
}
.br_line {
    line-height: 180%
}
